<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact</h1>

  <h2>
    This is the hardworking dedicated team that built you rmrly:
  </h2>
  <a href="https://github.com/txderosa"target="_blank">Toren Derosa, </a>
  <a href="https://github.com/jackfischer"target="_blank">Jack Fisher, </a>
  <a href="https://github.com/TommyK154"target="_blank">Thomas Kargul, </a>
  <a href="https://github.com/jtlevine"target="_blank">Josh Levine, </a>
  <a href="https://github.com/sofiapinho"target="_blank">Sofia Pinho, </a>
  <a href="https://github.com/lwatson1"target="_blank">Luke Watson, </a>
  <a href="https://github.com/aawiesinger"target="_blank">Annika Wiesinger</a>
  
  <h3>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </h3>

</div>
