<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        Age[22], Major[Computer Science], Year[Senior]
      </h2>
      <h3> Preferences </h3>
        <h4>
          [Smoker/Non-Smoker]<br>[Sleep Schedule]<br>[Party?]<br>[This]<br>[User]
        </h4>
    </section>
  </aside>
</div>